<div class="container-fluid">
  <div class="py-5">
    <div class="mx-auto">
      <div class="card col-md-6">
        <div class="card-header">
          <h2>LOGIN PAGE</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <form
              #login="ngForm"
              class="form-container"
              (ngSubmit)="onSubmit(login.value)"
            >
              <div class="form-group mb-2 col-12">
                <label for="name">Name</label>
                <input
                  type="text" #loginName="ngModel" required minlength="4" maxlength="15" class="form-control" placeholder="enter name" name="userName" ngModel
                />

                <div
                  *ngIf="
                    loginName.errors && (loginName.touched || loginName.dirty)
                  "
                  class="text-danger"
                >
                  <small *ngIf="loginName.errors?.['required']"
                    >name is required</small
                  >
                  <small *ngIf="loginName.errors?.['minlength']"
                    >name should be 4 characters long</small
                  >
                  <small *ngIf="loginName.errors?.['maxlength']"
                    >name should be within characters long</small
                  >
                </div>
              </div>

              <div class="form-group col-12 mb-2">
                <label for="Password">Password</label>
                <input
                  type="password" #loginPassword="ngModel" class="form-control" required minlength="6" maxlength="15" placeholder="enter password" name="userpassword" ngModel
                />

                <div
                  *ngIf="
                    loginPassword.errors &&
                    (loginPassword.touched || loginPassword.dirty)
                  "
                  class="text-danger"
                >
                  <small *ngIf="loginPassword.errors?.['required']"
                    >password is required</small
                  >
                  <small *ngIf="loginPassword.errors?.['minlength']"
                    >password should be 6 characters long</small
                  >
                  <small *ngIf="loginPassword.errors?.['maxlength']"
                    >password should within 15 characters long</small
                  >
                </div>
              </div>

              <div class="form-group col-12 mb-4 col-md-6">
                <input
                  type="submit"
                  class="btn btn-primary"
                  value="login"
                  (click)="dashboard()"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
