<div class="container-fluid">
  <div class="py-5">
      <div class="card col-md-6 ">
        <div class="card-header bg-info ">
          <h2>LOGIN PAGE</h2>
        </div>
<div class="card-body">
        <div class="row">
          
            <form
              #login="ngForm"
              class="form-container"
              (ngSubmit)="dashboard(login.value)"
            >
              <div class="form-group mb-2">
                <label for="name">Name</label>
                <input
                  type="text" class="form-control" #loginName="ngModel" required minlength="4" maxlength="15"  placeholder="enter name" [(ngModel)]="userName" name="name">
                <div
                  *ngIf="loginName.errors && (loginName.touched || loginName.dirty)" class="text-danger">
                  <small *ngIf="loginName.errors?.['required']">name is required</small>
                  <small *ngIf="loginName.errors?.['minlength']">name should be 4 characters long</small
                  >
                  <small *ngIf="loginName.errors?.['maxlength']">name should be within 15 characters long</small>
                </div>
          
              </div>



              <div class="form-group mb-2">
                <label for="Password">Password</label>
                <input
                  type="password" #loginPassword="ngModel" class="form-control" required minlength="6" maxlength="15" placeholder="enter password" [(ngModel)]="userPassword" name="password"
                />

                <div
                  *ngIf="
                    loginPassword.errors &&
                    (loginPassword.touched || loginPassword.dirty)
                  "
                  class="text-danger"
                >
                  <small *ngIf="loginPassword.errors?.['required']"
                    >password is required</small
                  >
                  <small *ngIf="loginPassword.errors?.['minlength']"
                    >password should be 6 characters long</small
                  >
                  <small *ngIf="loginPassword.errors?.['maxlength']"
                    >password should within 15 characters long</small
                  >
                </div>
              </div>
             

              <div class="form-group  mb-2">
                <input type="submit" [disabled]=!login.valid class="btn btn-info" value="login"  />
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
